#navbar{
    width: 100%;
    background-color:black;
    display: flex;
}
#navbar ul{
    display: inline-block;
}

#navbar li{
    display: inline;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25%;
    border: 1px red solid;
}
#navbar li:hover{
    background-color: red;
}
#navbar a{
    text-decoration: none;
    color: white;
}

#catalog-list{
    display: inline-block;
}
#catalog-list list{
    display: inline-block;
}
.product {
    width: 250px;
    float: left;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 25px;
    text-align: center;
    font-family: arial;
}
.product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.product img{
    width: 100%;
    height: 215px;
    margin-bottom: 10px;
    border-bottom: 1px lightgray dashed;
}
.name {
    margin: 0px;
}
.price {
    color: grey;
    font-size: 19px;
    margin: 5px 0px;
}

.product span{
    display: block;

}
.remove , .edit{
    border: none;
    color: white;
    padding: 12px 16px;
    margin: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.remove{
    background-color: #FE0001;
}
.edit{
    background-color: dodgerblue;
}
.remove:hover{
    background-color: #cb0000;
}
.edit:hover{
    background-color: royalblue;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.head-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }